<section id="choix" class="form-group d-flex justify-content-around mt-3 bg-light pt-3">
	<div id="matiere" class="form-group form-inline">
		<label for="" class="mr-2">matiere: </label>
		<select class="form-control" ngDefaultControl [(ngModel)]="matiere" (change)="onChange($event)">
			<option *ngFor="let option of matieres" value="{{option}}">{{option}}</option>
		</select>
	</div>
	<div id="date1" class="form-group form-inline">
		<label for="" class="mr-2">De : </label>
		<input type="date" [(ngModel)]="dateDebut">
	</div>
	<div id="date2" class="form-group form-inline">
		<label for="" class="mr-2">A : </label>
		<input type="date" [(ngModel)]="dateFin">
	</div>
	<div id="consultation">
		<button mat-raised-button color="primary" (click)="setViewMode()">Consulter</button>
	</div>
	<div id="modification">
		<button mat-raised-button color="primary" (click)="setEditMode()">Modifier</button>
	</div>
</section>

<div id="container">
    <div>
        <button mat-icon-button>
            <mat-icon (click)="onCreateDialog()"
            #tooltip="matTooltip" 
			matTooltip="Créer un cahier de texte"
			[matTooltipPosition]="'above'"
			matTooltipHideDelay="0">add</mat-icon>
        </button>
	</div>
	<ng-container *ngIf="editMode">
		<div *ngFor="let item of cahiertexte['partage'][matiere]; let i = index">
			<h3>{{item.date | date : 'dd/MM/yyyy'}}</h3>
			<button mat-icon-button><mat-icon>edit</mat-icon></button>
			<button mat-icon-button><mat-icon>delete</mat-icon></button>
		</div>
	</ng-container>
	<angular-editor [(ngModel)]="htmlContent" *ngIf="viewMode"></angular-editor>
	
</div>

                