<section id="container">
	<mat-tab-group>
		<mat-tab label="Infos Ecole">
			<mat-card>
				<div class="form-group" *ngIf="ecole.length !=0">
					<label for="" class="form-control-label">Nom Etablissement: </label>
					<input style="width: 70%;" class="form-control" type="text" [(ngModel)]="ecole.nom_ecole">
				</div>
				<div class="form-group">
					<label for="" class="form-control-label">Titre du Chef d'Etablissement:</label>
					<select class="form-control" [(ngModel)]="ecole.titre_chef" style="width: 70%;">
						<option *ngFor="let option of titresChef" value="{{option}}">{{option}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="" class="form-control-label">Nom Chef d'Etablissement: </label>
					<input style="width: 70%;" class="form-control" type="text" [(ngModel)]="ecole.nom_chef">{{ecole.nom_chef}}
				</div>
				
			</mat-card>
		</mat-tab>
		<mat-tab label="Découpage Année">
			<mat-card>
				<div class="form-group">
					<label for="" class="form-control-label">Annee Scolaire:</label>
					<input type="text" [(ngModel)]="ecole.annee_scolaire" class="form-control">
				</div>
				<div class="form-group">
					<label for="" class="form-control-label">Fin Année Scolaire: {{ecole.date_fin | date: 'dd/MM/yyyy'}}</label>
					<input type="datetime-local" [(ngModel)]="ecole.date_fin" class="form-control">
				</div>
				<!-- <div class="form-group">
					<label for="" class="form-control-label">Type des périodes:</label>
					<select class="form-control" [(ngModel)]="ecole.typePeriodes" 
							style="width: 70%;" (change)="onSelectPeriodeType()">
						<option *ngFor="let option of listeTypePeriode" value="{{option}}">{{option}}</option>
					</select>
				</div> -->
				<!-- <div class="form-group">
					<label for="">Noms des Périodes</label>
					<select class="form-control" #nomper
							style="width: 70%;" (change)="onSelectNomsPeriodes(nomper)">
						<option *ngFor="let option of listeNomPeriode" value="{{option}}">{{option}}</option>
					</select>
				</div> -->
				<div>
					<h2 class="text-center">Autres Infos</h2>
				</div>
				<!-- <div> -->
					<!-- <table class="table">
						<tr>
							<th>Période</th>
							<th>Date de début de saisie des moyennes</th>
							<th>Date de fin de saisie des moyennes</th>
							<th>Coefficient de la période</th>
						</tr>
						<tr *ngFor="let periode of nomPeriodeArray; let i=index">
							<td>{{periode}}</td>
							<td>
								<input type="datetime-local" #debut
										[(ngModel)]="ecole.periodesEvaluation[periode].debut"> -->
										<!-- (change)="onInputDebut(debut.value, periode)" -->
							<!-- </td>
							<td>
								<input type="datetime-local" #fin
									[(ngModel)]="ecole.periodesEvaluation[periode].fin"> -->

									<!-- (change)="onInputFin(fin.value, periode)"> -->
								<!-- </td>
							<td>
								<input type="number" [(ngModel)]="ecole.periodes[i].coefficient">
							</td>
						</tr>
					</table>
				</div>
				<div align="right">
					<button mat-raised-button (click)="onSubmit()" color="accent">Submit</button>
				</div> -->
				<div align="right">
					<button mat-raised-button (click)="onSubmit()" color="accent">Submit</button>
				</div>
			</mat-card>
		</mat-tab>
		<mat-tab label="Niveaux Et Classes">
			<!-- <div class="form-group form-inline mt-3">
				<label class="form-control-label" for="">Ajouter Niveau</label>
				<input class="form-control" type="text" #niveau>
				<button mat-raised-button color="primary" (click)="onAjoutNiveau(niveau.value)">Ajouter</button>
			</div> -->
			<!-- <div *ngFor="let niveau of ecole.niveaux; let i = index" class="d-flex justify-content-between">
				<div class="flex-grow-1">
					<mat-accordion>
						<mat-expansion-panel>
							<mat-expansion-panel-header>
							   <mat-panel-title #titre>
								  {{niveau.niveau}}
							   </mat-panel-title>
							</mat-expansion-panel-header>
							<div class="bg-white mt-2 p-3">
								<div class="p-3 mb-3 bg-secondary">
									<h2 class="text-center mb-2">Classes du niveau {{niveau.niveau}}</h2>
									<div class="form-group form-inline">
										<input class="form-control" placeholder="Ajouter Classe" 										   [matChipInputFor]="chipList"
											[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
											[matChipInputAddOnBlur]="addOnBlur"
											(matChipInputTokenEnd)="add($event, i)">
									<button class="text-dark" mat-button (click)="add($event, i)">Ajouter</button>
									</div>
									<mat-chip-list #chipList>
										<mat-chip *ngFor="let classe of niveau.classes" color = "primary" selected
												[removable]="removable" (removed)="remove(classe, i)">
										{{classe}}
										<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
										</mat-chip>
									</mat-chip-list>
								</div>
								<div class="bg-secondary p-3">
								<h2 class="text-center mt-2">Matieres du niveau {{niveau.niveau}}</h2>
								<div class="form-group form-inline p-2 bg-warning">
									<input class="form-control ml-2" type="text" placeholder="matière" #matiere>
									<input class="form-control ml-2" type="number" placeholder="coefficient" #coef>
									<button mat-raised-button color="primary" 
											class="ml-2" (click)="onAjoutMatiere(matiere.value, coef.value, i)">Ajouter</button>
								</div>
								<div class="p-3">
									<table class="table text-dark text-center">
										<tr>
											<th>Matière</th>
											<th>Coefficient</th>
											<th></th>
										</tr>
										<tr *ngFor="let matiere of niveau.matieres">
											<td>{{matiere.matiere}}</td>
											<td>{{matiere.coefficient}}</td>
											<td>
												<button (click)="onDeleteMatiere(matiere, i)">
													<mat-icon color="warn">delete</mat-icon>
												</button>
											</td>
										</tr>
									</table>
								</div>
								
							</div>
							</div>
						</mat-expansion-panel>
					</mat-accordion>
				</div>
			<div class="ml-2 pt-2"> -->
				<!-- <button (click)="onDeleteNiveau(i)">
					<mat-icon color="warn">delete</mat-icon>
				</button>
			</div> -->
		<!-- </div> -->
			<div align="right">
				<button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
			</div>
		</mat-tab>
		<mat-tab label="Codes Professeurs">
			<!-- <section *ngIf="codeProfErrorMessage">
				<h2 class="errorMessage">{{codePersoErrorMessage}}</h2>
			</section> -->
			<!-- <section id="choix" class="form-group d-flex justify-content-around mt-3 pt-3">
				<div id="matiere" class="form-group form-inline">
					<label for="" class="mr-2">Matière: </label>
					<select class="form-control" [(ngModel)]="matiere" ngDefaultControl>
						<option *ngFor="let option of listeMatieres" value="{{option}}">{{option}}</option>
					</select>
				</div>
				<div id="periode" class="form-group form-inline">
					<label for="" class="mr-2">Code: </label>
					<input type="text" [(ngModel)]="codeProf" ngDefaultControl>
				</div>
				<div id="prof" class="form-group form-inline">
					<label for="" class="mr-2">Matricule: </label>
					<input type="text" placeholder="Entrez le matricule du prof" class="form-control" [(ngModel)]="matriculeProf" ngDefaultControl>
						
				</div>
				<div *ngIf="addMode">
					<button mat-button color="primary" (click)="addCode()">Ajouter</button>
				</div>
				<div *ngIf="updateMode">
					<button mat-button color="primary" (click)="cancelUpdate()">Annuler</button>
					<button class="ml-1" mat-button color="primary" (click)="updateCode()">Modifier</button>
				</div>
			</section> -->
			<!-- <section>
				<table class="table">
					<tr>
						<th>Code</th>
						<th>Matière</th>
						<th>Matricule Prof</th>
						<th>Nom et Prénoms Prof</th>
						<th>Actions</th>
					</tr>
					<tr *ngFor="let code of codes; let i = index">
						<td>{{code.code}}</td>
						<td>{{code.matiere}}</td>
						<td></td>
						<td></td>
						<td>
					<button mat-icon-button  
							(click)="selectCodeToModify(i)"
							#tooltip="matTooltip"
							matTooltip="Modifier"
							[matTooltipPosition]="'above'"
							  matTooltipHideDelay="0">
						<fa-icon [icon]="faEdit"></fa-icon>
					</button>
					<button mat-icon-button color="warn" 
							(click)="deleteCode(i)"
							#tooltip="matTooltip"
							matTooltip="Supprimer"
							[matTooltipPosition]="'above'"
							  matTooltipHideDelay="0">
						<fa-icon [icon]="faTrashAlt"></fa-icon>
					</button>
						</td>
					</tr>
				</table>
			</section> -->
		</mat-tab>
	</mat-tab-group>
</section>