<div mat-dialog id="dialog">
	<div mat-dialog-content>
		<div class="card">
			<div class="card-header">
				<h1 class="text-center" 
					[textContent]="data.actionType=='create' ? 
								  'Enregistrement d\'une nouvelle classe' :
								  'Modification des infos de la ' + data.classe.nom"></h1>
			</div>
			<div class="card-body">
				<form #claForm="ngForm" novalidate [formGroup] = "classeForm">
					
			<div class="form-group">
				<label for="niv" class="form-control-label">Niveau:</label>
				<select class="form-control" formControlName="niveau" (change)="onSelectNiveau()">
				  <option *ngFor="let option of niveaux" value="{{option}}">{{option}}</option>
				</select>
		</div>
		<div class="form-group">
			<label for="nivSui" class="form-control-label">Niveau Suivant Par Défaut:</label>
				<select class="form-control" formControlName="niveau_suivant">
		 			<option *ngFor="let option of niveaux" value="{{option}}">{{option}}</option>
				</select>
		</div>
		<div class="form-group">
			<label for="clas" class="form-control-label">Classe:</label>
			<select formControlName="nom" class="form-control">
				<option *ngFor="let option of classes" value="{{option}}">{{option}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="Salle" class="form-control-label">Salle:</label>
			<select formControlName="salle" class="form-control">
		  		<option *ngFor="let option of salles" value="{{option}}">{{option}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="lv2" class="form-control-label">LV2:</label>
			<select class="form-control" formControlName="lv2">
			  <option *ngFor="let option of LV2" value="{{option}}">{{option}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="art" class="form-control-label">Art:</label>
			<select class="form-control" formControlName="art">
			  <option *ngFor="let option of Arts" value="{{option}}">{{option}}</option>
			</select>
		</div>
		<!--<div class="form-group">
			<label for="" class="form-control-label">Educateur</label>
			<input class="form-control" type="text" formControlName="educateur" placeholder="Entrer le matricule de l'éducateur">
		</div> !-->
		</form>
    </div>
            <div class="card-footer">
                <div align="right">
					<button id="cancelButton" mat-button (click)="onCancel()">
						Cancel
					</button>
					<button mat-button  
							class="submitButton" 
                            *ngIf="data.actionType=='create'"
                            (click)="onCreate()">Create</button>
					<button mat-button 
                            class="submitButton" 
                            *ngIf="data.actionType=='update'"
                            (click)="onUpdate()">Update</button>
                </div>
            </div>
		</div>
	</div>
</div>
